<!-- Author: Hana Wahi               -->
<!-- Email: HQW5245@psu.edu          -->
<!-- See README for further details. -->

<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Hospital Patient Portal</title>
</head>
<body>
<!-- Page Header: using BootStrap and w3Schools, I was able to make this look nice! -->
<div class="container">
  <div class="jumbotron">
    <h1 style="font-family:'Calibri Light'">Hospital Patient Portal</h1>
    <p style="font-family:'Calibri Light'">This portal allows users to add and delete patient names from the hospital's database.</p>
  </div>
</div>


<!-- Drop-down menu -->
<div style="text-align: center;">
<form action="/select" method='POST'>
  <label for="selection">Choose an option:</label>
  <select id="selection" name="selection">
      <option value="none">Select Action</option>
    <option value="Add">Add Patients</option>
    <option value="Delete">Delete Patients</option>
  </select>
  <input type="submit" value="Go!">
</form>
    </div>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>